# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
data = pd.read_csv("weather_data.csv")
weather_df = pd.DataFrame(data)
weather_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Dikson,100,RU,1587234480,91,73.51,80.55,35.91,18.05
1,1,Khuzhir,85,RU,1587234480,85,53.19,107.34,26.28,10.51
2,2,Albany,98,US,1587234231,70,42.60,-73.97,43.00,6.85
3,3,Butaritari,98,KI,1587234480,78,3.07,172.79,82.04,14.43
4,4,Djibouti,75,DJ,1587234481,74,11.50,42.50,86.00,4.70

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = weather_df[["Lat", "Lng"]]
weights = weather_df["Humidity"]
fig = gmaps.figure(map_type="HYBRID")
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_df = weather_df.copy()
ideal_df = ideal_df[(ideal_df["Max Temp"] > 55) & (ideal_df["Max Temp"] < 65)]
ideal_df = ideal_df[(ideal_df["Wind Speed"] < 15) & (ideal_df["Wind Speed"] > 1)]
ideal_df = ideal_df[(ideal_df["Cloudiness"] < 80) & (ideal_df["Cloudiness"] > 10)]
ideal_df = ideal_df[ideal_df["Humidity"] > 30]
ideal_df = ideal_df.reset_index()
ideal_df

,index,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,56,56,Ribeira Grande,75,PT,1587234294,88,38.52,-28.70,64.40,9.17
1,59,59,Lüderitz,11,NaN,1587234488,87,-26.65,15.16,60.80,6.93
2,90,90,Bāgeshwar,40,IN,1587234492,36,29.85,79.77,62.91,5.32
3,104,104,Port Lincoln,51,AU,1587234494,74,-34.73,135.87,58.50,5.14
4,111,111,Naples,40,IT,1587234243,72,40.83,14.25,64.40,3.36
5,116,116,Muros,64,ES,1587234495,76,42.78,-9.06,64.00,11.99
6,123,123,Province of Trapani,75,IT,1587234496,87,37.83,12.67,60.80,3.36
7,125,125,Byron Bay,75,AU,1587234481,93,-28.65,153.62,63.00,6.93
8,136,136,Ahipara,65,NZ,1587234498,84,-35.17,173.17,63.79,10.96
9,151,151,Ancud,75,CL,1587234458,82,-41.87,-73.82,60.80,14.99
10,185,185,Soe,21,ID,1587234505,77,-9.86,124.28,64.40,2.46
11,195,195,Ashington,40,GB,1587234507,71,50.93,-0.39,59.00,6.93
12,244,244,Ponta Delgada,40,PT,1587234465,82,37.73,-25.67,62.60,11.41
13,255,255,Northam,46,GB,1587234516,86,51.03,-4.22,55.99,5.01
14,298,298,Vila Franca do Campo,40,PT,1587234472,82,37.72,-25.43,62.60,11.41
15,317,317,Airai,63,TL,1587234523,56,-8.93,125.41,60.13,2.48
16,320,320,Vila,75,PT,1587234523,87,42.03,-8.16,57.20,5.82
17,322,322,Jianhu,20,CN,1587234524,63,29.98,120.57,62.01,3.27
18,332,332,Tiznit Province,24,MA,1587234482,59,29.58,-9.50,60.84,11.25
19,342,342,Laas,40,IT,1587234451,51,46.62,10.70,59.00,2.24
20,352,352,Rabo de Peixe,40,PT,1587234527,82,37.80,-25.58,62.60,11.41
21,353,353,Bloemfontein,16,ZA,1587234420,82,-29.12,26.21,62.60,4.70
22,379,379,Luancheng,20,CN,1587234530,58,37.88,114.65,57.20,4.47
23,385,385,Serenje,22,ZM,1587234531,63,-13.23,30.24,62.53,7.83
24,388,388,Sobreira,45,PT,1587234531,71,41.52,-7.80,63.00,5.64
25,413,413,Cuenca,75,EC,1587234393,100,-2.88,-78.98,57.20,5.82
26,482,482,Mahon,75,ES,1587234543,88,39.89,4.27,64.40,10.29
27,488,488,Ngunguru,62,NZ,1587234544,98,-35.62,174.50,59.00,11.79
28,520,520,Barcelos,20,PT,1587234427,82,41.54,-8.62,63.00,9.17
29,535,535,Areosa,20,PT,1587234550,82,41.72,-8.86,60.80,9.17
30,546,546,Burnie,31,AU,1587234552,91,-41.07,145.92,55.99,3.00

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [49]:
hotel_df = ideal_df
hotel_name = []
url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?key={g_key}&keyword=hotel&radius=5000"

for i in range(len(hotel_df)):

    query = f"{url}&location={ideal_df['Lat'].iloc[i]},{ideal_df['Lng'].iloc[i]}"
    response = requests.get(query).json()
    try:
        hotel_name.append(response["results"][0]["name"])
        print("Your dream resort has been found!")
    except(KeyError, IndexError):
        print("No hotel could be found...skipping")
        hotel_df.drop(hotel_df.index[i], inplace = False)
print("-------------------------------\nQuery Complete")

Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
Your dream resort has been found!
-------------------------------
Query Complete

In [6]:
hotel_df["Hotel Name"] = hotel_name
hotel_df.drop(["index", "Unnamed: 0"], axis =1, inplace = True)
hotel_df.to_csv("hotels.csv")

NameError: name 'hotel_name' is not defined

In [6]:
hotel_df = pd.read_csv("hotels.csv")
hotel_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,0,Ribeira Grande,75,PT,1587234294,88,38.52,-28.70,64.40,9.17,Quinta Das Buganvílias
1,1,Lüderitz,11,NaN,1587234488,87,-26.65,15.16,60.80,6.93,Kairos Cottage
2,2,Bāgeshwar,40,IN,1587234492,36,29.85,79.77,62.91,5.32,OYO 46808 Tamanna Hotel
3,3,Port Lincoln,51,AU,1587234494,74,-34.73,135.87,58.50,5.14,Port Lincoln Hotel
4,4,Naples,40,IT,1587234243,72,40.83,14.25,64.40,3.36,Royal Continental Hotel

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [8]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# Display Map
fig

Figure(layout=FigureLayout(height='420px'))